* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
}

body {
  background: #FEFEFE;
  color: #333333;
}

.main-header {
  background: #1B2B34;
  color: white;
  padding: 0 20px;
  display: flex;
  align-items: baseline;
}
.main-header .logo {
  font-size: 1rem;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.main-header .logo a {
  text-decoration: none;
  color: #5fb3ce;
}

.main-navigation .nav-list {
  list-style: none;
  display: flex;
}
.main-navigation .nav-list a {
  text-decoration: none;
  color: lightgrey;
  font-size: .8rem;
  padding: 20px;
  letter-spacing: 1px;
/*  text-transform: uppercase;*/
}
.main-navigation .nav-list a:hover {
  color: gold;
}
.main-navigation .nav-list .active {
  color: #ffe34d;
}

.user-info {
  margin-left: auto;
  display: flex;
  font-size: .8rem;
}
.user-info * {
  padding: 15px;
  color: lightgrey;
}

.user-avatar img {
  max-width: 50px;
}

article {
  font-family: arial;
  max-width: 1000px;
  margin: auto;
  padding: 3rem;
}
article h1 {
  font-size: 2rem;
  font-family: serif;
}
article p {
  font-size: 1rem;
}
