@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  background-color: #456;
  color: white;
  font-size: 2rem;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

.header {
  background-color: #131b27;
  padding: 6rem 2rem 2rem;
  margin-bottom: 2rem;
}

.type {
  margin: 0;
}

.type--subdued {
  color: #939a9f;
}

.type--heading-1 {
  font-weight: 400;
  font-size: 2.4rem;
  color: white;
  text-transform: uppercase;
}

.page__header,
.page__main,
.page__footer {
  padding: 1rem 1.5rem;
}

.page__header {
  background: #E53935;
  border-top: 15px solid #B71C1C;
}

.page__main {
  /*background: #5d74ac;*/
}

.page__footer {
  background: #0a080a;
  border-bottom: 4px solid rgb(27, 23, 27);
}

.page {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page__header,
.page__footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.page__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.page__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
}

.page__main {
/*  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;*/
  display: flex;
  align-items: center;
  margin: 0 auto;
}

#reg-form {
  width: 450px;
  padding: 30px 30px 30px 30px;
  background-color: #dedede;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15), -1px 0 0 rgba(0,0,0,0.03), 1px 0 0 rgba(0,0,0,0.03), 0 1px 0 rgba(0,0,0,0.12);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
    box-shadow: 0 1px 1px rgba(0,0,0,0.15), -1px 0 0 rgba(0,0,0,0.03), 1px 0 0 rgba(0,0,0,0.03), 0 1px 0 rgba(0,0,0,0.12);
  margin: 10px 0;
}

#reg-form .title {
  font-size: 22px;
  font-weight: bold;
  line-height: 24px;
  color: #66696a;
  text-align: center;
  margin: 0 0 13px;
}

#reg-form .subtitle {
  font-size: 16px;
  line-height: 18px;
  color: #66696a;
  font-weight: normal;
  text-align: center;
  margin: 0 0 18px;
}

#reg-form input {
  background: #cacaca;
  vertical-align: middle;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 0 3px rgba(0,0,0,0.1) inset;
  transition: 0.5s;
  border: 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
  color: #000000;
  height: 32px;
  width: 369px;
  margin-bottom: 16px;
  outline: 0;
  padding: 5px 14px 5px 14px;
}

#reg-form input:hover {
  background: #afafaf;
  transition: 0.5s;
}

#reg-form label {
  display: flex;
  font-size: 12px;
  line-height: 14px;
  color: #66696a;
  margin-bottom: 5px;
  margin-left: 10px;
  letter-spacing: 1px;
}

#reg-form span {
  font-size: 12px;
  line-height: 14px;
  color: #66696a;
  text-align: center;
  display: block;
  margin-bottom: 15px;
}

#reg-form .checkbox {
  display: flex;
  align-items: center;
  margin: 0 auto;
  flex-direction: row;
  justify-content: center;
  margin-right: 50px;
}

#reg-form .checkbox input {
  width: 18px;
  margin: 10px 15px 10px 50px;
}

#reg-form .reg-btn {
  width: 100%;
  height: 50px;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: #d47e41;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 0.25rem;
  padding: 16px;
  padding: 1rem;
  font-family: 'Source Sans Pro', sans-serif;
}

@media screen and (min-width: 30rem) {
  .page__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
