@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,600,700,900');

* {
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web';
}

body {
  background-color: #212737;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-header {
  background: #222425;
}

#header {
  background: #222425;
  width: 900px;
  margin: 0 auto;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-header a {
  color: #fff;
  text-decoration: none;
}

.logo {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 3px;
  padding: 10px;
}

.site-nav {
  margin-left: 45px;
}

.site-nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.site-nav ul a {
  padding: 20px;
  display: inline-block;
  color: #fff;
}

.site-nav ul .active a {
  color: #fff;
  font-weight: bold;
  background: #212737;
}

.account__dropdown {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
}

.account__dropdown .sign-out-link {
  color: #71b6a4;
}

.account__dropdown__gear ul {
  display: none;
}

.account__dropdown__gear a {
  vertical-align: middle;
  margin-left: 5px;
}

.gear a {
  font-size: 25px;
  vertical-align: middle;
}

.page__footer {
  background-color: #222425;
  font-size: 13px;
  color: #7a8084;
  padding: 2rem 0;
  text-align: center;
  letter-spacing: 1px;
}

.forget__pw {
  font-size: 12px;
  padding: 8px 0 8px 224px;
}

.form__space {
  padding: 10px 0 2px 0;
}

.form__space input {
  width: 200px;
  font-size: 13px;
  padding: 5px 3px 5px 3px;
  margin-left: 5px;
  outline: 0;
  border: 1px solid #b3b3b3;
  border-radius: 0.1rem;
}

.form__space input:hover {
  background-color: #f9f9f9;
  border: 1px solid #fff;
  transition: 0.5s;
}

.btn__login {
  border: 0;
  outline: 0;
  padding: 5px 20px 6px 20px;
  font-size: 13px;
  letter-spacing: 1px;
  background: #3d4152;
  border: 2px solid white;
  color: #fff;
  border-radius: 0.4rem;
  cursor: pointer;
  margin-left: 10px;
}

.btn__login:hover {
  background: #fff;
  color: #3d4152;
  transition: 1s;
}

.main-div {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  min-height: 487px;
  background: #fff;
}

.main-div #reg-form {
  width: 400px;
  padding: 15px 30px;
  background-color: #eee;
  margin: 10px 0;
}

.profile {
  background: #FFF;
/*  padding: 15px 30px;*/
  width: 600px;
  border-radius: 5px;
  font-size: 16px;
  font-family: Helvetica;
  background: #FAFAFA;
  border-width: 1px 1px 2px;
  border-style: solid;
  border-color: #DDD;
  overflow: hidden;
}

.profile-image {
  padding: 20px;
}

.user-info {
  margin-left: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.user-info .title {
  font-size: 32px;
  color: #3f3f3f;
}

.user-info .subtitle {
  color: #535393;
}

.user-info span {
  font-size: 13px;
  font-weight: bold;
  margin-top: 10px;
  color: #6f6f6f;
}

.profile-image img {
  width: 150px;
  border-radius: 50%;
  box-shadow: 1px 4px 20px #888888;
}

.profile .profile-div {
  display: flex;
}

.tab-title {
  width: 600px;
  padding: 8px 30px;
  background-color: #eee;
  font-weight: bold;
  background: #EAEAEA;
  background-image: linear-gradient(#FAFAFA, #EAEAEA);
  border: solid #D5D5D5;
  border-width: 1px 0 1px 0;
  color: #555;
  font-size: 0.6em;
}

.main-div #reg-form .title {
  font-size: 22px;
  font-weight: bold;
  line-height: 24px;
  color: #66696a;
  text-align: center;
  margin: 0 0 13px;
}

.main-div #reg-form .subtitle {
  font-size: 16px;
  line-height: 18px;
  color: #66696a;
  font-weight: normal;
  text-align: center;
  margin: 0 0 18px;
}

.main-div #reg-form input {
  background: #cacaca;
  vertical-align: middle;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 0 3px rgba(0,0,0,0.1) inset;
  border: 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
  color: #000000;
  height: 32px;
  width: 369px;
  margin-bottom: 16px;
  outline: 0;
  padding: 5px 14px 5px 14px;
}

.main-div #reg-form input:hover {
  background: #afafaf;
  transition: 0.5s;
}

.main-div #reg-form label {
  display: flex;
  font-size: 12px;
  line-height: 14px;
  color: #66696a;
  margin-bottom: 4px;
}

.main-div #reg-form span {
  font-size: 12px;
  line-height: 14px;
  color: #66696a;
  text-align: center;
  display: block;
  margin-bottom: 15px;
}

#reg-form .checkbox {
  display: flex;
  align-items: center;
  margin: 0 auto;
  flex-direction: row;
  justify-content: center;
  margin-right: 50px;
}

#reg-form .checkbox input {
  width: 18px;
  margin: 10px 15px 10px 50px;
}

#reg-form .reg-btn {
  width: 100%;
  height: 50px;
  outline: 0;
  border: 0;
  background-color: #d47e41;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 0.25rem;
  padding: 16px;
  padding: 1rem;
  font-family: 'Titillium Web';
}
    

@media (max-width: 600px) {
  .site-header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .site-header .site-nav {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
    background: #333;
    margin-left: 0;
    margin: 0 auto;
  }
}
