@import "https://fonts.googleapis.com/css?family=Montserrat";

body {
  background-color: #252525;
}

.site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.site-main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.site-footer,
.site-header {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

html {
  font: 16px/1.5 'Montserrat', sans-serif;
}
.vac_create
{
  background-color: #202020;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.site-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 200px;
  padding: 30px;
  background-color: #151515;
  color: #a5a5a5;
}

* {
  box-sizing: border-box;
}

.site-main {
  display: flex;
  justify-content: center;
  padding: 5em;
}
/* Welcome page */

#welcome-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1000px;
  height: 500px;
}

#profile-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.new-user, .login-user, .register-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 475px;
}

.new-user {
  align-items: flex-end;
}

.login-user, .register-user {
  align-items: center;
}
.btn
{
    background-color: black;
    color: white;
    width: 200px;
    height: 20px;
}
.title, .subtitle {
  margin-bottom: 20px;
}

.title {
  font-size: 38px;
  color: white;
}

.subtitle {
  font-size: 22px;
  color: #3C8BBE;
}

.join-button {
  width: 225px;
  text-align: center;
  padding: 20px;
  margin-bottom: 10px;
  color: white;
  text-decoration: none;
  font-size: 14px;
  opacity: 1.0;
  transition: 0.5s;
  letter-spacing: 1px;
}

.join-button:hover {
  transition: 0.5s;
  opacity: 0.5;
}

#applicant {
  background-color: #3C8BBE;
}

#employee {
  background-color: #424242;
}

.login-form, .register-form, #form-login, 
#form-register, .form-group, .form-icons, 
.sign-in, .signin, .footer-tab, .footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
}
.titl
{
  background-color: #736d6d;
  width: 250px;
  height: 30px;
  font-size: 20px;
  color: white;
}
.comment
{
  margin-top: 10px;
  max-height: 300px;
  max-width: 300px;
  width: 500px;
  height: 500px;
  background-color: #736d6d;
  color: white;
  font-size: 14px;

}
.first
{
  width: 200px;
  height: 25px;
  margin: 0 auto;
  background-color: #181818;
  color: white;
}
.container-settings
{
  background-color: #181818;
  color: white;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.submit
{
  background-color: #181818;
  color: white;
  height: 40px;
  margin-top: 15px;
  width: 150px;
}
.submit:hover
{
  transition: 2s;
  background-color: #3C8BBE;
}
.select
{
  background-color: #736d6d;
  color: white;
  font-size: 15px;
}
.need
{  width: 150px;
  height: 20px;
  background-color: #736d6d;
  color: white;
  font-size: 14px; 
}
.login-form {
  background-color: #202020;
  width: 400px;
  height: 375px;
  flex-direction: column;
}

.register-form {
  background-color: #202020;
  width: 400px;
  height: 675px;
  flex-direction: column;
}

#form-login {
  padding: 5px;
  height: 325px;
  width: 350px;
  flex-direction: column;
  justify-content: space-between;
}

#form-register {
  padding: 5px;
  height: 625px;
  width: 350px;
  flex-direction: column;
  justify-content: space-between;
}

.already {
  color: #888888;
  font-size: 13px;
  letter-spacing: 0.5px;
  padding: 10px;
}

.form-group {
  width: 325px;
  height: 50px;
  margin-bottom: 5px;
  padding: 5px;
  flex-direction: row;
}

.form-group input {
  width: 250px;
  max-width: 250px;
  height: 50px;
  max-height: 50px;
  outline: 0;
  background-color: #424242;
  border: none;
  padding: 5px 20px 5px 20px;
  font-size: 12px;
  color: white;
  letter-spacing: 1px;
}

.form-icons {
  background: #3C8BBE;
  width: 50px;
  min-width: 50px;
  height: 50px;
  min-height: 50px;
  color: white;
}

.sign-in {
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
  padding: 15px;
  color: white;
  letter-spacing: 1px;
}

.sign-in i {
  font-size: 25px;
}

.user-agree {
  width: 275px;
  font-size: 8px;
  letter-spacing: 1px;
  color: #bebebe;
  line-height: 14px;
  padding: 10px;
  text-align: center;
}

.forgot-pw {
  width: 325px;
  font-size: 10px;
  letter-spacing: 1px;
  color: #efefef;
  padding: 10px;
  text-align: center;
}

.already-acc {
  width: 325px;
  font-size: 10px;
  letter-spacing: 1px;
  color: #efefef;
  padding: 10px;
  text-align: center;
}

.already-acc a {
  color: #3C8BBE;
  text-decoration: none;
}

.forgot-pw a {
  color: #3C8BBE;
  text-decoration: none;
}

.signin {
  width: 300px;
  height: 50px;
  margin-bottom: 20px;
}

.signin input {
  border: none;
  outline: none;
  width: 300px;
  height: 50px;
  letter-spacing: 1px;
  font-size: 15px;
  background-color: #3c8bbe;
  color: white;
  opacity: 1.0;
  transition: 0.3s;
}

.signin input:hover {
  opacity: 0.5;
  cursor: pointer;
  transition: 0.3s;
}

/* footer design */

.footer-logo img {
  width: 100px;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.copyright {
  margin-top: 10px;
  font-size: 12px;
  letter-spacing: 1px;
}

.footer-tab {
  flex-direction: column;
  align-items: flex-start;
}

.footer-title {
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 15px;
  padding: 3px;
}

.footer-subtitle {
  font-size: 12px;
  padding: 3px;
  color: #656565;
}
.footer-subtitle a {
    transition: 0.5s;
    text-decoration: none;
    color: #656565;
}
.footer-subtitle a:hover {
    transition: 0.5s;
    text-decoration: none;
    color: #3C8BBE;
}
.footer-social {
  display: flex;
  flex-direction: row;
}

.footer-social i {
  color: #656565;
  font-size: 15px;
  transition: 0.5s;
}

.footer-links {
  flex-direction: column;
  text-decoration: none;
  align-items: flex-start;
  color: #a5a5a5;
}

.footer-links a {
  font-size: 14px;
  padding: 5px 15px 5px 5px;
  text-decoration: none;
  color: #656565;
  transition: 0.5s;
}

.help-block {
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 50px;
  font-size: 15px;
  background-color: #be3c3c;
  color: #ffffff;
}

.footer-links a:hover {
  transition: 0.5s;
  color: #3C8BBE;
}

.footer-social i:hover {
  transition: 0.5s;
  color: #3C8BBE;
}

/* register page */

#register-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 750px;
}

#login-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 500px;
}

.main-register {
  width: 500px;
  height: 500px;
  background-color: #1b1b1b;
}

.register-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 25px;
  width: 500px;
  height: 75px;
  padding: 20px;
  background-color: #424242;
}

.cancer {
  display: flex;
  flex-direction: column;
  background-color: red;
}

.work-id {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 50px;
  background-color: red;
  text-align: center;
}

.alert-message, .denied-message {
  width: 300px;
  height: 50px;
  border-left: 5px solid #953333;
  text-align: center;
  font-size: 12px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c44d4d;
  margin-top: 5px;
  margin-bottom: 5px;
}

.denied-message {
  margin-bottom: 20px;
}

/* TOS design */

#tos-page, #privacy-page{
  display: flex;
  flex-direction: column;
}

#tos-page, #privacy-page h1{
    margin-top: 10px;
    color : #3C8BBE;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 1.5px;
    cursor: default;
}

#tos-page, #privacy-page h2{
  margin-top: 10px;
  color: #888888;
  font-size: 10px;
  letter-spacing: 1px;
  cursor: default;
}

#tos-page, #privacy-page p{
  max-width: 700px;
  color : #a5a5a5;
  font-size: 12px;
  line-height: 25px;
  background-color: #2f2f2f;
  padding : 20px;
  cursor: default;
}

#tos-page, #privacy-page#a{
  cursor: pointer;
  text-decoration : none;
}


/* contact design */

#contact-page{
  width: 800px;
  height: 600px;
  margin:  0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact-form{
  margin : 0 auto;
  width: 500px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #151515;
  padding: 25px;
  border-radius: 20px;
}

#contact-page h1{
  color : #3C8BBE;
  font-size: 30px;
  font-weight: bold;
  margin : 0 auto;
  cursor: default;
}

#contact-form form{
  display: flex;
  flex-direction: column;
}

#contact-form input{
  width: 350px;
  height: 50px;
  outline: none;
  margin-top: 20px;
  font-weight: bold;
  font-size: 15px;
  color : #3C8BBE;
  background-color: #2f2f2f;
  border : solid #252525 2px;
  letter-spacing: 1px;
  padding : 5px 20px 5px 20px;
  border-radius: 5px;
}

#contact-form textarea{
  width: 350px;
  max-width: 350px;
  height: 50px;
  max-height: 150px;
  outline: none;
  margin-top: 20px;
  font-weight: bold;
  font-size: 15px;
  color : #3C8BBE;
  background-color: #2f2f2f;
  border : solid #252525 2px;
  letter-spacing: 1px;
  padding : 5px 20px 5px 20px;
  border-radius: 5px;
}

#contact-form input[type=submit]{
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  background-color: #252525;
  transition: 0.8s;
  height: 35px;
}

#contact-form input[type=submit]:hover{
  background-color: #2f2f2f;
  transition: 0.8s;
}

#contact-form input[type=reset]{
  cursor: pointer;
  height: 35px;
  text-align: center;
  border-radius: 5px;
  background-color: #252525;
  transition: 0.8s;
}

#contact-form input[type=reset]:hover{
  background-color: #2f2f2f;
  transition: 0.8s;
}

.contact-information {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  color: #b3b3b3;
  letter-spacing: 1px;
  font-size: 13px;
}

/* profile page */


.block-container a
{
    color: white;
    text-decoration: none;
    font-size: 15px;
}















@import "https://fonts.googleapis.com/css?family=Montserrat";



.site-footer,
.site-header {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

html {
  font: 16px/1.5 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
}

.main-page {
  margin-top: 125px;
}

/* header design */

.site-bar {
  display: flex;
  justify-content: space-between;
  padding: 4px 50px 4px 50px;
  background-color: #3C8BBE;
  color: white;
  font-size: 14px;
  width: 100%;
}

.site-bar i {
  font-size: 14px;
  color: #fff;
}

.site-title {
  color: white;
  letter-spacing: 5px;
}

.social-bar {
  width: 100px;
  display: flex;
  justify-content: space-between;
}

.site-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  width: 100%;
}

.main-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 250px 0 175px;
  background-color: #181818;
  width: 100%;
}

.header-nav {
  display: flex;
  flex-direction: row;
}

.t-none {
  text-decoration: none;
}

.nav-block {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  width: 125px;
  height: 75px;
  background-color: #181818;
  padding: 5px;
  color: white;
  text-align: center;
  border-bottom: 1px solid #181818;
}

.nav-setting {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  width: 125px;
  height: 75px;
  background-color: #181818;
  padding: 5px;
  color: white;
  cursor: pointer;
  text-align: center;
  border-bottom: 1px solid #181818;
}

.nav-setting:hover {
  transition: 0.5s;
  color: #fff;
  background-color: #3C8BBE;
  border-bottom: 1px solid #fff;
}

.nav-block:hover {
  transition: 0.5s;
  color: #fff;
  background-color: #3C8BBE;
  border-bottom: 1px solid #fff;
}

.active {
  background-color: #3C8BBE;
  color: #fff;
  border-bottom: 1px solid #fff;
}

.nav-bar {
  width: 285px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-bar a {
  color: #fff;
  letter-spacing: 0.5px;
  text-decoration: none;
  font-size: 10px;
}

.nav-bar a, .site-bar i {
  transition: 0.5s;
}

.nav-bar a:hover, .site-bar i:hover {
  transition: 0.5s;
  color: white;
}

.header-user {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  width: 75px;
  background-color: #3C8BBE;
  border-bottom: 1px solid #fff;
}

.user-img img {
  padding: 5px;
  width: 50px;
  max-width: 50px;
  height: 50px;
  max-height: 50px;
}

/* profile page */

.profile-header {
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: 350px;
  box-shadow: 0px 0px 20px #23232b;
}

.skills-content {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: 480px;
  box-shadow: 0px 0px 20px #23232b;
}

.skill-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #474758;
}

.block-container {
  width: 160px;
  height: 480px;
  background-color: red;
}

.profile-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 45px 50px 0 50px;
  background-color: #202020;
  height: 250px;
  width: 1000px;
}

.block {
  transition: 0.5s;
  display: flex;
  justify-content: center;
  width: 160px;
  height: 160px;
  background-color: #181818;
  text-align: center;
  align-items: center;
  color: white;
}

.block:hover {
  transition: 0.5s;
  cursor: pointer;
  color: #fff;
  background-color: #202020;
  border-right: 1px solid #3c8bbe;
}

.block-active {
  background-color: #202020;
  border-right: 1px solid #3c8bbe;
  color: #fff;
}

.profile-bottom {
  height: 100px;
  background-color: #3c8bbe;
  width: 1000px;
}

.profile-img img {
  width: 150px;
  max-width: 150px;
}

.profile-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 700px;
  height: 150px;
}

.small-info {
  width: 250px;
  color: white;
}

.name-info {
  display: flex;
  flex-direction: column;
  padding: 0 50px 25px 0;
}

.name-info i {
  margin-left: 5px;
  font-size: 10px;
}

.user-fullname {
  margin-top: 5px;
}

.small-t {
  font-size: 10px;
  letter-spacing: 1px;
  color: #4db0f1;
}

.left-container {
  width: 100%;
  background-color: #202020;
    height: 480px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.core-t {
  font-size: 16px;
  letter-spacing: 1px;
  margin-top: 5px;
}

.medium-t {
  font-size: 13px;
  letter-spacing: 1px;
  color: #4db0f1;
}

.big-t {
  font-size: 25px;
  letter-spacing: 1px;
  font-weight: bolder;
}

.info-about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 220px;
}

.info-tab {
  display: flex;
  flex-direction: column;
}

.profile-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.bottom-block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 100px;
  margin: 0 auto;
}

.active-status {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #c7c7e0;
  letter-spacing: 0.5px;
}

.bottom-block i {
  font-size: 40px;
  color: #ffffff;
  padding: 5px 10px 0px 0px;
}

.contact-block {
  display: flex;
  transition: 0.5s;
  align-items: center;
  justify-content: center;
  width: 175px;
  height: 60px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 1px;
  background-color: #282828;
  margin: 0 auto;
}

.contact-block:hover {
  transition: 0.5s;
  color: #282828;
  background-color: #424242;
}

.contact-block i {
  padding: 0 6px 0 0;
}

.status-what {
  font-size: 13px;
  padding: 5px;
  color: #000000;
}

.status-where {
  font-size: 14px;
  color: white;
}

.join-date {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #617786;
  font-size: 10px;
  background-color: #282828;

}

.join-date span {
  letter-spacing: 1px;
  padding: 3px 10px 3px 10px;
  color: #617786;
  background-color: #202020;
}

.info-left, .info-right {
  height: 80px;
  max-height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lang {
  font-size: 12px;
}