/* Imported Fonts */
@import url(https://fonts.googleapis.com/css?family=Gudea:400,700);

/* Custom style css
-------------------------------------------------- */

* {
  font-family: 'Gudea', sans-serif;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background: #eeeeee;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-weight: normal;
}

#login {
  overflow: hidden;
}

#register {
  overflow: hidden;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #272727;
}

body::-webkit-scrollbar {
    width: 0px;
}


.navbar-fixed-top {
  position: absolute !important;
}

.navbar {
  height: 55px;
}

.navbar img {
  margin-top: 20px;
  position: absolute;
}

/* Page Content
-------------------------------------------------- */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.help-block {
  font-weight: 500;
  color: #a94442 !important;
}

.well {
	max-width: 450px;
  margin-top: 80px;
  margin-bottom: 50px;
}

.well legend {
	margin-bottom: 10px;
	font-weight: bold;
}

.well legend, p {
	text-align: center;
}

.terms {
	width: 300px;
	margin: 0 auto;
}

.site-term {
	font-size: 10px;
  line-height: 14px;
  color: #66696a;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.pass-term {
  font-size: 10px;
  line-height: 14px;
  color: #66696a;
  text-align: center;
}

.password-forget {
  font-size: 10px;
  line-height: 14px;
  float: right;
}

#if-signed-in {
	text-align: center;
	font-size: 13px;
}

.navbar-default {
	background-color: #000000;
}
